<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dmko.bulldogvods">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.dmko.bulldogvods.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <activity
            android:name="com.dmko.bulldogvods.app.AppActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.dmko.bulldogvods.app.common.startup.ThemeInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="com.dmko.bulldogvods.app.common.startup.TimberInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="com.dmko.bulldogvods.app.common.startup.StrictModeInitializer"
                android:value="androidx.startup" />
        </provider>

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://55d5c0832d6a49c8ba571148fa525e46@o1265737.ingest.sentry.io/6449833" />
        <meta-data
            android:name="io.sentry.environment"
            android:value="${sentryEnvironment}" />
    </application>
</manifest>
